<a href="https://colab.research.google.com/github/Jes575/ML_Exercises/blob/master/Day_2_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print multiples of 3 upto 200 using a list

In [ ]:
import numpy as np
x = np.arange(1, 200)

n= x[(x % 3 == 0) ]
print(n[:200])

[  3   6   9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54
  57  60  63  66  69  72  75  78  81  84  87  90  93  96  99 102 105 108
 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162
 165 168 171 174 177 180 183 186 189 192 195 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
nl=[]
for x in range(1000, 2001):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:

my_str = input("Enter a string: ")

words = my_str.split()

words.sort()

print("The sorted words are:")
for word in words:
   print(word)

Enter a string: mat hat cat
The sorted words are:
cat
hat
mat

Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
def squares(a, b):
    lists=[]
    for i in range (a,b+1):
        j = 1;
        while j*j <= i:
            if j*j == i:
                 lists.append(i)  
            j = j+1
        i = i+1
    return lists
print(squares(500, 1001))

[529, 576, 625, 676, 729, 784, 841, 900, 961]

Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [ ]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:2
Enter element1:hello
Enter element2:world
The word with the longest length is:
hello

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [ ]:
rollno = []
marks = []

n = int(input("Enter number of students"))

for i in range(0,n):
  x = input("Enter rollno")
  rollno.append(x)
  y = int(input("Enter marks"))
  marks.append(y)

print("Student rollno",rollno)
print("Student marks",marks)

Enter number of students2
Enter rollno102
Enter marks50
Enter rollno103
Enter marks100
Student rollno ['102', '103']
Student marks [50, 100]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [ ]:
name = []
salary = []

n = int(input("Enter number of employees"))

for i in range(0,n):
  x = input("Enter name")
  name.append(x)
  y = int(input("Enter salary"))
  salary.append(y)

print("Student rollno",rollno)
print("Student marks",marks)